
                  header { 
                      background-color:black;
                      color:white;
                      text-align:center;
                      padding:5px;	 
                  }
                  nav {	
                      line-height:30px;
                      background-color:#eeeeee;
                      height:500px;
                      width:10%;
                      float:left;
                      padding:5px;	      
                  }
                  section {	
                      width:75%;
                      float:left;
                      padding:10px;	 	 
                  }
                  footer { 
                      background-color:black;
                      color:white;
                      clear:both;
                      text-align:center;
                      padding:5px;	 	 
                  }
   
